= form_for(:session, url: sessions_path, html: { class: 'form-signin' }) do |f|

  %h2.form-signin-heading
    Please sign in

  = f.label :email, class: 'sr-only'
  = f.email_field :email, id: 'inputEmail', class: 'form-control', placeholder: 'Email', required: true

  = f.label :password, class: 'sr-only'
  = f.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Password', required: true

  -# .checkbox
  -#   %label
  -#     = f.checkbox_field value: 'remember-me'

  = f.submit 'Sign in', class: "btn btn-lg btn-primary btn-block"

